{% extends 'base.html' %}

{% block title %}
Star Wars Character Information
{% endblock %}

{% block content %}
  <h1>Star Wars Character Information Search</h1>
  <form action="/character" method="GET">
    <label for="id_input">Pick a character</label>
    <select name="id_input">
    {% for id, name in names.items() %}
      <option value={{id}}>{{name}}</option>
    {% endfor %}

    <input type="submit" value="Get Info!">
  </form>

  <section>
    {% if char_obj %}
      <h2>Name:</h2>
      <p>{{char_obj.name}}</p>
      <h2>Height:</h2>
      <p>{{char_obj.height}} cm</p>
      <h2>Mass:</h2>
      <p>{{char_obj.mass}} kg</p>
      <h2>Hair Color:</h2>
      <p>{{char_obj.hair_color}}</p>
      <h2>Eye Color:</h2>
      <p>{{char_obj.eye_color}}</p>
      <h2>Homeworld</h2>
      <p>{{homeworld_obj.name}}</p>
      <h2>Appears In:</h2>
      <ul>
        {% for film in film_names %}
          <li>{{film}}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if error %}
      <h2>{{error}}</h2>
    {% endif %}
  </section>
{% endblock %}